In [42]:
#am
import pandas as pd
from ipynb.fs.full.cleaning_account_dim import check_na_columns

In [43]:
df = pd.read_csv("..\data\syf_id_20250325.csv")
df

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\ITO\AppData\Local\Temp\ipykernel_29892\147009408.py:1: SyntaxWarning: invalid escape sequence '\d'
  df = pd.read_csv("..\data\syf_id_20250325.csv")

,ds_id,account_nbr_pty,confidence_level,open_date,closed_date
0,O4khZfhXa2CcmIM9lI7ESrQRM1ypTAkH,7CvIGUYp2era9NFA,HIGH,2005-12-12,NaN
1,An8eibS3OUqawbhjkVaUWOA95FbPJnDO,8631QmQa2F5U84TQ,HIGH,2021-10-31,NaN
2,I428G9M27M8qBRi1LC2Uu6Jiq4xdw3md,KMGjSyDldINUEYTS,HIGH,2017-09-13,NaN
3,0nM2JXxAp6Kw8xtF7N0TOw9nMqXzRsh7,pCz3B3yfpXlORZcD,HIGH,2024-07-12,NaN
4,IQF02sVHSPZQWHetdS2lcLUCrXGCrvXy,FSglswDATksbQMh5,HIGH,2024-06-16,NaN
...,...,...,...,...,...
18065,U3GwS2DCnTpyEGuyiCXwu4DqbJ4NOdiv,O8H3XD3LtZVm0wtc,HIGH,2016-03-10,NaN
18066,NZSp7l8x8r87GOxLGqUBC4D5gxdMEA5U,vYlAEpj8osc2rZEQ,HIGH,2022-12-12,NaN
18067,qk956y2nSV8hHZNP0ECEa55TRK0KzAk7,X8aVrdUfx4rFQkfQ,HIGH,2018-09-02,NaN
18068,bz6OQd2zqoS2r45KRs1ZGlxV7Z3UJ3DF,Sz2VPj21QxTGu90V,HIGH,2023-10-08,NaN
18069,Xx98Wha7qdkegYGlpNoXkD3xM9giQtKQ,TnOrbHpnlIPrwO4r,HIGH,2022-01-25,NaN

In [44]:
check_na_columns(df)

closed_date         18070
ds_id                  34
account_nbr_pty         0
confidence_level        0
open_date               0
dtype: int64

In [ ]:
# the entirety of closed_date is blank
# so all accounts are still open

df["closed_date"] = df["closed_date"].fillna("Open")
df

,ds_id,account_nbr_pty,confidence_level,open_date,closed_date
0,O4khZfhXa2CcmIM9lI7ESrQRM1ypTAkH,7CvIGUYp2era9NFA,HIGH,2005-12-12,Open
1,An8eibS3OUqawbhjkVaUWOA95FbPJnDO,8631QmQa2F5U84TQ,HIGH,2021-10-31,Open
2,I428G9M27M8qBRi1LC2Uu6Jiq4xdw3md,KMGjSyDldINUEYTS,HIGH,2017-09-13,Open
3,0nM2JXxAp6Kw8xtF7N0TOw9nMqXzRsh7,pCz3B3yfpXlORZcD,HIGH,2024-07-12,Open
4,IQF02sVHSPZQWHetdS2lcLUCrXGCrvXy,FSglswDATksbQMh5,HIGH,2024-06-16,Open
...,...,...,...,...,...
18065,U3GwS2DCnTpyEGuyiCXwu4DqbJ4NOdiv,O8H3XD3LtZVm0wtc,HIGH,2016-03-10,Open
18066,NZSp7l8x8r87GOxLGqUBC4D5gxdMEA5U,vYlAEpj8osc2rZEQ,HIGH,2022-12-12,Open
18067,qk956y2nSV8hHZNP0ECEa55TRK0KzAk7,X8aVrdUfx4rFQkfQ,HIGH,2018-09-02,Open
18068,bz6OQd2zqoS2r45KRs1ZGlxV7Z3UJ3DF,Sz2VPj21QxTGu90V,HIGH,2023-10-08,Open
18069,Xx98Wha7qdkegYGlpNoXkD3xM9giQtKQ,TnOrbHpnlIPrwO4r,HIGH,2022-01-25,Open

In [48]:
check_na_columns(df)

ds_id               34
account_nbr_pty      0
confidence_level     0
open_date            0
closed_date          0
dtype: int64

In [54]:
import numpy as np

In [57]:
df[df["ds_id"].isnull()]

      ds_id   account_nbr_pty confidence_level   open_date closed_date
1162    NaN  cYp9xuKSlLv4C2mj             HIGH  2019-03-25        Open
1665    NaN  YpZCmyeAdlJQRtZd             HIGH  1973-08-25        Open
1860    NaN  EIuR8eEaMtgJniA7             HIGH  2023-09-18        Open
2108    NaN  rl4G7eUX0q5wK3id             HIGH  2015-06-17        Open
2159    NaN  FLMi7VytA20yas8W             HIGH  2022-01-18        Open
2537    NaN  RKhi1fVprdDTIVBf             HIGH  1989-11-01        Open
3201    NaN  i7r58NY1PHbIxiJd             HIGH  2023-08-11        Open
3940    NaN  dyEKWtblwDh6bP6q             HIGH  2023-07-05        Open
5306    NaN  5ulpBijaaRayIzWD             HIGH  2023-12-06        Open
5879    NaN  JaiYty4tHWD8IUnO             HIGH  2023-12-26        Open
6203    NaN  STk9OV5CwajnWoqQ             HIGH  2024-02-12        Open
6830    NaN  YFAnbewtKRx7p9qo             HIGH  2025-03-19        Open
7151    NaN  uCQoxFtLuIRB5r6A             HIGH  2023-10-12        Open
7672    NaN  n48bJW55KnS5OLQT             HIGH  2024-05-23        Open
7847    NaN  N7izPthMbBRdJIDC             HIGH  2024-11-29        Open
8794    NaN  XId7FiKFuGbUMmtM             HIGH  2023-08-18        Open
9019    NaN  vGNM9QWuBxP5CN76             HIGH  2019-06-12        Open
10474   NaN  Y0jVvTugGAyMDrsL             HIGH  2023-12-08        Open
10875   NaN  uDghfFrqlKxjYVP8             HIGH  2013-09-15        Open
12062   NaN  p3903R2afvbJQ7LL             HIGH  2017-08-01        Open
12169   NaN  OlceMhHVXLWipZbt             HIGH  2023-10-29        Open
12920   NaN  bWRFIYosR9jhZfpV             HIGH  2023-06-04        Open
13806   NaN  ByybDjjcZV97Cv59             HIGH  2023-11-27        Open
13971   NaN  zsZn4HlmbqtBz3KR             HIGH  2021-08-15        Open
14109   NaN  PLxWruFVRD0gorGq             HIGH  2023-09-03        Open
14141   NaN  JUc15yoRQCfBRVQA             HIGH  1997-10-02        Open
14165   NaN  Tm26nTmU5budULh1             HIGH  2014-07-08        Open
15539   NaN  92nZrkORtnYyLhCF             HIGH  2024-09-02        Open
15877   NaN  UJ66aM7bqx8MbsYN             HIGH  2023-09-10        Open
16049   NaN  Uf7LZnOXAmUA1PeZ             HIGH  2024-01-17        Open
16611   NaN  NeQcnIgDAK98fjSW             HIGH  1989-09-15        Open
16635   NaN  BAqAGym6jYTXvTA2             HIGH  2023-11-03        Open
17140   NaN  ouN4NxXOkv7uUrbd             HIGH  2021-05-31        Open
18009   NaN  ZJ5DrcBdrDQ5qwWU             HIGH  2023-04-23        Open